{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{ request.user.username }}
{% endblock %}

{% block content %}

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<p class="lead"><a href="{% url 'my:logout' %}">Salir</a></p>

{% endblock %}

{% block bootstrap3_extra_script %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
    jQuery.noConflict();

    var example = 'line-basic', 
        theme = 'default';

        (function($){ // encapsulate jQuery
$(window).ready($(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Actividad la última semana',
            x: -20 //center
        },
        xAxis: { 
            type: 'text',
            categories: [ {% for p in pasos.keys %} {% if forloop.last %} '{{ p }}'] {% else %} '{{ p }}', {% endif %} {% endfor %}
        },
        yAxis: {
            title: {
                text: 'Pasos'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' Pasos'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ request.user.username }}',
            data: [ {{ pasos.values|join:", " }} ]
        }]
    });
}));
})(jQuery);
</script>
{% endblock %}
