{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}
<div class="container">
    <div style="padding: 40px 15px; text-align: center;">
        <p class="lead">Total: {{ aprobados }} de {{ total }} </p>
    </div>
</div>

<div class="container">

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      {% for p, v in paises.items %}
        {% if forloop.first %}
        <li role="presentation" class="active"><a href="#{{ p|cut:" "|force_escape|lower }}" aria-controls="{{ p|cut:" "|force_escape|lower }}" role="tab" data-toggle="tab">{{ p }}:{{ v.1 }}/{{ v.2 }}</a></li>
        {% else %}
        <li role="presentation"><a href="#{{ p|cut:" "|force_escape|lower }}" aria-controls="{{ p|cut:" "|force_escape|lower }}" role="tab" data-toggle="tab">{{ p }}:{{ v.1 }}/{{ v.2 }}</a></li>
        {% endif %}
      {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      {% for p, v in paises.items %}
        {% if forloop.first %}
        <div role="tabpanel" class="tab-pane fade in active" id="{{ p|cut:" "|force_escape|lower }}">
            {% for n in v.0 %}
                <ul class="list-unstyled">
                {% if n.userfitbit.myuserfitbit %}
                    <li><strong>{{ n.username }} {% if not n.userfitbit.myuserfitbit.authorized %}*{% endif %}</strong></li>
                {% else  %}
                    <li>{{ n.username }} </li>
                {% endif %}
                </ul>
            {% endfor %}
        </div>
        {% else %}
        <div role="tabpanel" class="tab-pane fade" id="{{ p|cut:" "|force_escape|lower }}">
            {% for n in v.0 %}
                <ul class="list-unstyled">
                {% if n.userfitbit.myuserfitbit %}
                    <li><strong>{{ n.username }} {% if not n.userfitbit.myuserfitbit.authorized %}*{% endif %} </strong></li>
                {% else  %}
                    <li>{{ n.username }} </li>
                {% endif %}
                </ul>
            {% endfor %}
        </div>
        {% endif %}
      {% endfor %}
  </div>

</div>
</div>

{% endblock %}

{% block bootstrap3_extra_script %}

{% endblock %}
