{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}

<div id="container" style="min-width:310px;"></div>
<div id="container">
    <p class="lead">Los más corredores...</p>
    <table class="table table-striped table-hover">
        <tr>
            <th>País</th>
            <th>Username</th>
            <th>Promedio</th>
        </tr>
        {% for c in corredores %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1 }}</td>
            <td>{{ c.2 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block bootstrap3_extra_script %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>

<script type="text/javascript">

    $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Promedio TOTAL de pasos del Reto CID'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Pasos'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
                },

                series: [{
                    name: 'País',
                    colorByPoint: true,
                    {% autoescape off %}
                    data: {{ global_data }}
                    {% endautoescape %}
                }],
                credits: {
                             enabled: false
                 }
    });
</script>
{% endblock %}
